body {
    margin: 0;

    font-family: "Inter", sans-serif;
    color: #18181b;
    background: rgba(221, 170, 187, 0.2);

    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
p {
    font-family: inherit;
}